*{
    margin: 0;
    padding: 0;
    border: 0;
}
div {
    border: solid 1px;
}
.wrapper{
    display: flex;
    flex-flow: column nowrap;
    /*align-items: stretch;*/
    height: 100%;
}
.top, .bottom{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.bottom{
    max-height: 20%;
}
.box {
    flex: 1;
}
hr {
    border-top: 1px solid black;
    width: 90%;
}
li {
    list-style: none;
}
img {
    max-width: 80%;
    height: auto;
}
img:hover {
    max-width: 90%;
    width: auto;
    height: auto;
}

.boxBody{
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}
.boxBodyTop, .boxBodyBottom{
    display: flex;
    justify-content: center;
}