*{
    margin: 0;
    padding: 0;
    border: 0;
}
html, body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 100%;
}
/* div {
    border: solid 1px;
} */
.topShelf, .bottomShelf{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border-color: green;*/
}
@media screen and (min-width:950px){
    .topShelf,.bottomShelf{
        flex-flow: row nowrap;
    }
    .box{
        width: auto;
    }
}
@media screen and (max-width:949px){
    .topShelf,.bottomShelf{
        flex-flow: column nowrap;
    }
    .box{
        width: 100%;
    }
}
.box{
    flex: 1 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    /*border-color: blue;*/
}
.boxTop, .boxBottom{
    flex: 1 1 auto;
    width: 100%;
}
.boxBottom{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.boxTop{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}
.boxTop img{
    max-width: 80%;
    max-height: 80%;
    transition: 0.2s;
    /* border: solid; */
}
img:hover{
    max-width: 90%;
    max-height: 90%;
    transition: 0.5s;
}
li, h2, h4{
    color: white;
}
ul {
    list-style: none;
    width: 85%;
}
li{
    padding: 0.2em;
}
 hr {
     border:none;
     height: 1px;
     background-color: white;
 }
 h2 {
     text-align: center;
 }
#box1{
    background-color: rgb(249,196,27);
}
#box2{
    background-color: rgb(246,123,17);
}
#box3{
    background-color: rgb(234,67,53);
}
#box4{
    background-color: rgb(117,189,63);
}
#box5{
    background-color: rgb(53,146,255);
}
#box6{
    background-color: rgb(125,66,151);
}